@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@600;800&family=Raleway&family=Roboto:wght@400;700&display=swap');



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{  
    font-size: 1.1rem;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;

}
#nav-logo > img
{
    width: 7rem;
}
#nav-links
{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-link > a
{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
#section0
{
    background-image: url("15357.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 4rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
}
#section0 > h1
{
    font-size: 4rem;
    font-weight: bolder;
}
#section0 > p
{
    font-size: 1.8rem;
}
#section0 > button
{
    background: white;
    padding: 1rem 1.4rem;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 6px;
    border: none;
}
#section1
{
    background: whitesmoke;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}
#section1 > div > h2
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.2rem;
}
#sec-logo-div
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sec-div-logo
{
    width: 7rem;
}
#section2
{

    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    gap: 3rem;
}
#section2-text
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#section2-text > h2
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}
#section2-text > p
{
    font-size: 1.1rem;
    font-weight: 500;
}
#section2-img
{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
#section2-img-div1
{
    width: 50%;
    height: 26rem;
    background-image: url("beautiful-view-construction-site-city-during-sunset.jpg");
    background-size: cover;
}
#section2-img-div2
{
    width: 50%;
    height: 26rem;
    background-image: url("construction-workers-sunset.jpg");
    background-size: cover;
}
#section2-img-div1,
#section2-img-div2
{
    color: white;
    display: flex;
    flex-direction: column;
}
#section2-img-div1 > #div1,
#section2-img-div2 > #div1
{
    padding: 1rem;
    width: 100%;
    height: 50%;
    font-family :  Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}
#section2-img-div1 > #div2,
#section2-img-div2 > #div2
{
    width: 100%;
    height: 50%;
    padding: 1.4rem;
}
#section2-img-div1 > #div2 > h2,
#section2-img-div2 > #div2 > h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
#section2-img-div1 > #div2 > p,
#section2-img-div2 > #div2 > p
{
    margin-top: .5rem;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* font-size: .7rem; */
}
#section3
{
    background: whitesmoke;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#section3 > #div1 > h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
}
#section3 > #div1 > p{
    margin-top: 1.5rem;
    font-family :  Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}
#section3 > #div2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.section3-div-div
{
    width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.section3-div-div > h3
{
    font-size: 2rem;
    text-align: center;
}
.section3-div-div > p
{
    text-align: center;
}
.section3-div-div > img
{
    display: block;
    width: 40px;
    margin: 0 auto;
}
#section4
{
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#section4 > #div1 > h2
{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
}
#section4 > #div2
{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
#section4-div2-subdiv1
{
    background-image: url("2150694908.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    
}
#section4-div2-subdiv1 > h3
{
    font-family: 'Montserrat', sans-serif;
}
#section4-div2-subdiv1 > button
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding: .5rem 1rem;
}
#section4-div2-subdiv2
{
    width: 50%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
#section4-div2-subdiv2-div1,
#section4-div2-subdiv2-div2
{
    height: 50%;
    display: flex;
}
#section4-div2-subdiv2-div1 > #left,
#section4-div2-subdiv2-div2 > #left
{
    width: 50%;
}
#section4-div2-subdiv2-div2 > #right
{
    width: 50%;
}
#section4-div2-subdiv2-div1 > #left,
#section4-div2-subdiv2-div2 > #right {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    padding: 1rem;
}
#section4-div2-subdiv2-div1 > #right
{
    background: url("15357.jpg");
    background-size: cover;
    width: 50%;
}
#section4-div2-subdiv2-div2 > #left
{
    background: url("beautiful-view-construction-site-city-during-sunset.jpg");
    background-size: cover;
}
#section5
{
    padding: 3rem 4rem;
    display: flex;
    gap: 3rem;
    background: url("interior-design-with-photoframes-couch.jpg");
    background-size: cover;
    backdrop-filter: blur(10px);
    position: relative;
}
#section5 > span
{
    height: 100%;
    width: 100%;
    opacity: 0.4 ;
    background: black;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
#section5 > #left , #section5 > #right
{
    width: 50%;
}
#section5 > #left 
{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
#section5 > #right
{
    display: flex;   
    gap: 1rem;
}
.small-div
{
    background: white;
    border-radius: 10px;
    padding: .5rem;
}
.small-sub-div1 > h4
{
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;

}
.small-sub-div1
{
    padding: .6rem;
    border-bottom: 1px solid rgba(197, 193, 193, 0.402);
}
.small-sub-div2
{
    font-family: 'Roboto', sans-serif;
    padding: .6rem;
}
#section6
{
    padding: 3rem 4rem;
    display: flex;
    gap: 3rem;
}
#section6 > #left , #section6 > #right
{
    width: 50%;
}
#section6 > #left > h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
#section6 > #right
{
    display: grid;
    grid-template-columns: 30% 30%;
    gap: 1rem;
}

.loc-div > h2
{
    font-size: 1.3rem;
}
.loc-div > img
{
    width: 25px;
}
.loc-div
{
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
#section7
{
    padding : 4rem;
    background : url("2150713003.jpg");
    backdrop-filter: brightness(0.5);
    position: relative;
    text-align: center;
}
#section7 > span
{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.4;
    top: 0;
    left: 0;
    background: black;
    z-index: -1;
}
#section7 > h2
{
    font-size: 2.7rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#section7 > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 1.2rem;
}
#section7 > button
{
    border-radius: 5px;
    border: none;
    margin: 1rem;
    padding: 1rem 1.5rem;
    background: blue;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    color: white;
}
#footer
{
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: black;
}
.footer-div
{
    width: 40%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(128, 128, 128, 0.304);

}

#footer-div1 > img
{
    width: 10rem;
}
#footer-div2
{
    flex-direction: column;
    gap: 1rem;
}
#footer-div2  a
{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
}
#footer-div3
{
    padding: 0 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.subdiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.subdiv > img
{
    width: 24px;
}
#footer-div4
{
    border-right: none;
}
#footer-div4 > button
{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    background: blue;
    color: white;
    border: none;
}